body {
	background:#888;
}

.top-menu .tab {
	height:10vh;
	line-height:10vh;
	vertical-align:middle;
	background:#ddd;
	display:inline-block;
	text-align:center;
	box-shadow: 0 0 5px #888 inset;
	width:33.33333333%;
	font-size:22px;
}

#home .btn {
	width:100%;
	margin:10px 0;
	height:50px;
}

/*#travelerHome .top-menu .tab {
	width:50%;
}*/

.container {
	width:400px;
	height:600px;
	max-width:100%;
	max-height:100vh;
	margin:auto;
	background:#fff;
	overflow-y:auto;
}

.connection-profile {
	width:40%;
	margin:5%;
	box-shadow:0 0 2px #ccc;
}

.clear {
	clear:both;
}
