body {
	background:#888;
}

.app {
	background-color:#222;
	color:#eee;
}

.navbar-app {
	background-color:#222;
	color:#00afff;
}

.btn-navbar, .navbar-app .btn {
	color:#00afff;
}

.btn-primary {
	background-color: #00afff;
}

.navbar .icomoon {
	font-size:20px;
}

#home .btn {
	width:100%;
	margin:10px 0;
	height:50px;
}

#home h1 {
	margin-top:45px;
}

.app-container {
	width:400px;
	height:600px;
	max-width:100%;
	max-height:100vh;
	margin:auto;
	background:#eee;
	overflow-y:auto;
}

.app-body {
	padding-top:50px;
	overflow:auto;
}

.connection-profile {
	width:40%;
	margin:5%;
	box-shadow:0 0 2px #333;
	background-image: url('../images/profile.png');
}

.clear {
	clear:both;
}

img#map {
	width:80%;
	margin:5px 10%;
}

.view-header {
	width:100%;
	padding:20px 0 5px 10px;
	background-color:#222;
	border-bottom:1px solid #222;
	color:#00afff;
	/*color:#007aff;*/
}

.scrollable-content {
	padding-top:70px;
}

.connection-action {
	margin-top:20px;
}

#addNewTrip{
	position:relative;
	top:-50px;
	right:-257px;
}

.btn-default {
	background-color:#eee;
}

.chat-input {
	border-radius:15px;
	width:100%;
}

.chat-keyboard {
	width:100%;
	height:150px;
}