body {
	background:#888;
}

.app {
	background-color:#eee;
}

.navbar .icomoon {
	font-size:20px;
}

#home .btn {
	width:100%;
	margin:10px 0;
	height:50px;
}

#home h1 {
	margin-top:45px;
}

.app-container {
	width:400px;
	height:600px;
	max-width:100%;
	max-height:100vh;
	margin:auto;
	background:#fff;
	overflow-y:auto;
}

.app-body {
	padding-top:50px;
	overflow:auto;
}

.connection-profile {
	width:40%;
	margin:5%;
	box-shadow:0 0 2px #ccc;
}

.clear {
	clear:both;
}

img#map {
	width:80%;
	margin:5px 10%;
}

.view-header {
	width:100%;
	padding:20px 0 5px 10px;
	background-color:#eee;
	border-bottom:1px solid #ddd;
}

.scrollable-content {
	padding-top:70px;
}

.connection-action {
	margin-top:20px;
}
