<div id="chat" class="col-xs-12">
	<h1 class="view-header">Chat</h1>
	<table class="table chat-messages">
		<tr>
			<td class="col-xs-6 other-chat-msg">This hike is going to be awesome!</td>
			<td class="col-xs-12 user-chat-msg"></td>
		</tr>
		<tr>
			<td class="col-xs-6 other-chat-msg"></td>
			<td class="col-xs-12 user-chat-msg">I know! I can't wait!</td>
		</tr>
		<tr>
			<td class="col-xs-6 other-chat-msg">What time do you want to meet?</td>
			<td class="col-xs-12 user-chat-msg"></td>
		</tr>
		<tr>
			<td class="col-xs-6 other-chat-msg"></td>
			<td class="col-xs-12 user-chat-msg">I dunno... Maybe 09:00 at the trail?</td>
		</tr>
		<tr>
			<td class="col-xs-6 other-chat-msg">Sounds good! See you there!</td>
			<td class="col-xs-12 user-chat-msg"></td>
		</tr>
	</table>
	<div class="col-xs-12 chat-input-wrapper">
		<div class="col-xs-10"><input class="input chat-input" placeholder="message" type="text"></div>
		<div class="col-xs-2"><button class="btn btn-primary chat-send">Send</button></div>
	</div>
	<div class="col-xs-12 chat-keyboard-wrapper">
		<img class="chat-keyboard" src="images/keyboard.jpg" alt="">
	</div>
</div>