<div id="chat" class="col-xs-12">
	<h1 class="view-header">Chat</h1>
	<img src="images/profile.png" alt="" class="pull-right chat-avatar">
	<table class="table">
		<tr>
			<td class="col-xs-6 other-chat-msg">This hike is going to be awesome!</td>
			<td class="col-xs-12 user-chat-msg"></td>
		</tr>
		<tr>
			<td class="col-xs-6 other-chat-msg"></td>
			<td class="col-xs-12 user-chat-msg">I know! I can't wait!</td>
		</tr>
		<tr>
			<td class="col-xs-6 other-chat-msg">What time do you want to meet?</td>
			<td class="col-xs-12 user-chat-msg"></td>
		</tr>
		<tr>
			<td class="col-xs-6 other-chat-msg"></td>
			<td class="col-xs-12 user-chat-msg">I dunno... Maybe 09:00 at the trail?</td>
		</tr>
		<tr>
			<td class="col-xs-6 other-chat-msg">Sounds good! See you there!</td>
			<td class="col-xs-12 user-chat-msg"></td>
		</tr>
	</table>
	<div class="col-xs-12 chat-input"></div>
	<div class="col-xs-12 keyboard"></div>
</div>