<div id="connection" class="col-lg-12 col-xs-12">
    <h1 class="view-header">Connect with:</h1>
    <div class="row">
    	<div class="col-xs-6">
    		<img class="connection-profile" src="{{selectedImage}}">
    		<h5>Jonathan Appleseed</h5>
    	</div>
    	<div class="col-xs-6">
		    <button class="btn btn-primary col-xs-12 connection-action" ng-click="goTo('chat');"><span class="icon-bubble"></span> Chat</button>
		    <button class="btn btn-primary col-xs-12 connection-action" ng-click="goTo('scheduleActivity');"><span class="icon-glass"></span> Suggest Activities</button>
    	</div>
    </div>
    <div class="clear"></div>
    <div class="row">
    	<div class="col-xs-12">
    		<table class="table">
    			<th>
    				<h4 style="color:#00afff;">Common Interests</h4>
    			</th>
    			<tr ng-repeat="item in interests">
    				<td class="col-xs-12">{{item}}</td>
    			</tr>
    		</div>
    	</div>
    </div>
</div>
